<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Slider - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/full-slider.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>

<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Memorial</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><p class="navbar-text"><%=@user_count.count%>명의 유저가 사용중입니다!.</p></li>
        <li><p class="navbar-text">75,654개의 추억이 공유되었습니다.</p></li>
       
        
        <li class="dropdown">
          <a href="#" class="dropbn-toggle" data-toggle="dropdown">Search <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Country</a></li>
            <li><a href="#">City</a></li>
            <li><a href="#">Place</a></li>
            <li class="divider"></li>
            <li><a href="#">Friends</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        
      </ul>
     
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="New York">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      
      
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Welcome!</p></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><%=current_user.email%></b> <span class="caret"></span></a>
		 <ul class="dropdown-menu" role="menu">
            <li><a href="#">My Account</a></li>
            <li><a href="#">My Memory</a></li>
            <li><a href="#">Friends</a></li>
            <li class="divider"></li>
            <li><a href="#">Setting</a></li>
            <li class="divider"></li>
            <li><a href="/users/sign_out">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


</body>

<!-- 지도와 관련된 것을 시작한다.##############################################################-->
   <head>
    <title>Place searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
    <script>

function initMap() {
  var mapOptions = {
    //mapTypeId: google.maps.MapTypeId.HYBRID, // 맵 형식.. 위성/도로 등등
    zoom: 4,
    center: {lat: -33, lng: 151},
    disableDefaultUI: true,
    zoomControl: true,    // 지도 줌 메뉴.
    zoomControlOptions: {    // 위치는 어디로 할껀데??
        position: google.maps.ControlPosition.LEFT_TOP,
        style:google.maps.ZoomControlStyle.DEFAULT // 왜 작동 안하냐..
    },
    //mapTypeControl: boolean,    // mapTypeControl은 사용자가 지도 유형 간에(지도나 위성 등) 전환할 수 있는 지도 유형 컨트롤을 활성화/비활성화합니다. 
    //scaleControl: boolean,    // scaleControl은 간단한 지도 배율을 제공하는 배율 컨트롤을 활성화/비활성화합니다.
    //streetViewControl: boolean,    // streetViewControl은 사용자가 스트리트 뷰 파노라마를 활성화할 수 있는 펙맨 컨트롤을 활성화/비활성화합니다.
    //rotateControl: boolea,    // rotateControl은 45° 이미지의 방향을 제어하는 회전 컨트롤의 표시를 활성화/비활성화합니다. 
    scrollwheel:  false,  // 스크롤 줌을 disable한다.
    title: 'Click to zoom' //더블 클릭시 줌인
  }
  var map = new google.maps.Map(document.getElementById("map"), mapOptions);
  
}


    </script>
  </head>
  <body>
   <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKVoxez1exK9hIUjPShVFhlkru8sxWN1c&signed_in=true&libraries=places&callback=initMap&region=KR" async defer></script>
      
  </body>
    
<!-- 지도와 관련된 것을 끝낸다.##############################################################-->
    
    <!-- Page Content, 이거는 저작권 그런거 쓰는 footer.. -->
    <div class="container">
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.js"></script>
    

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })
    </script>
    
</div>
</body>

</html>
